@font-face {
    font-family: 'Thicc';
    src: url(Font/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Thin';
    src: url(Font/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Thinc';
    src: url(Font/Poppins-Light.ttf);
}

p {
    font-size: 1.1em;
}
h1 {
    font-family: 'Thicc';
}

p, a{
    font-family: 'Thinc';
}

h2, h3 {
    font-family: 'Thicc';
}

#anime {
    padding: 0;
    margin-top: -35%;
    position: relative;
    color: white;
    font-family: 'Thicc';
}

#yeaboi {
    font-family: 'Thin';
}

#navyo {
    margin-top: 15%;
}
ul li a{
    color: black;
    font-family: 'Thinc';
    font-size: 1.5vw;
}

nav.navcenter ul {
    text-align: center;
}
nav.navcenter ul li {
    display: inline;
    float: none;
}
nav.navcenter ul li a {
    display: inline-block;
    width: 30%;
}

.hryo {
    margin: 0;
    border: none;
    border-top: 5px dashed rgb(255, 174, 0);
}
.hrye {
    margin: 0;
    padding-top: .5em;
    border: none;
    border-top: 10px dashed rgb(255, 174, 0);;
}
.miku {
    width: 100%;
}

#text-striped {
    background: linear-gradient(rgb(255, 196, 0),rgb(255, 196, 0) 50%, transparent 50%, transparent);
    background-size: 100% 8px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}

#stripe2{
    position: relative;
    margin-top: -2em;
    margin-bottom: .9em;
    background: linear-gradient(rgb(255, 196, 0),rgb(255, 196, 0) 50%, transparent 50%, transparent);
    background-size: 100% 8px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: 0.3s;
}

#text-gradient {
    background: linear-gradient(90deg, #00fbff, rgb(217, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 95%;
}

.carousl {
    width: 100%;
    height: 56%;
    display: flex;
    overflow-x: auto;
}
.carousl::-webkit-scrollbar {
    display: none;
}
.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em;
    flex-wrap: nowrap;
}
.card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}
@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

#gallery {
    margin: 5%;
}